In [88]:
import pandas as pd
import glob
import numpy as np
import altair as alt

def importAll(path):    
    all_files = glob.glob(path + "/*.csv")
    res = {}

    for filename in all_files:
        print('Importing:', filename)
        df = pd.read_csv(filename, index_col=None, header=0)
        res[filename] = df
    return res
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 40)

In [89]:
competitive = importAll('1076')

Importing: 1076/bans.csv
Importing: 1076/gold.csv
Importing: 1076/kills.csv
Importing: 1076/LeagueofLegends.csv
Importing: 1076/matchinfo.csv
Importing: 1076/monsters.csv
Importing: 1076/structures.csv
Importing: 1076/_columns.csv

In [90]:
competitive_datasets = list(competitive.keys())
competitive_datasets

['1076/bans.csv',
 '1076/gold.csv',
 '1076/kills.csv',
 '1076/LeagueofLegends.csv',
 '1076/matchinfo.csv',
 '1076/monsters.csv',
 '1076/structures.csv',
 '1076/_columns.csv']

In [91]:
matchdata = competitive['1076/LeagueofLegends.csv']
#indendepent variables
print(matchdata.columns)
matchdata.describe()
#blue side wins 5% more than red side!

Index(['League', 'Year', 'Season', 'Type', 'blueTeamTag', 'bResult', 'rResult',
       'redTeamTag', 'gamelength', 'golddiff', 'goldblue', 'bKills', 'bTowers',
       'bInhibs', 'bDragons', 'bBarons', 'bHeralds', 'goldred', 'rKills',
       'rTowers', 'rInhibs', 'rDragons', 'rBarons', 'rHeralds', 'blueTop',
       'blueTopChamp', 'goldblueTop', 'blueJungle', 'blueJungleChamp',
       'goldblueJungle', 'blueMiddle', 'blueMiddleChamp', 'goldblueMiddle',
       'blueADC', 'blueADCChamp', 'goldblueADC', 'blueSupport',
       'blueSupportChamp', 'goldblueSupport', 'blueBans', 'redTop',
       'redTopChamp', 'goldredTop', 'redJungle', 'redJungleChamp',
       'goldredJungle', 'redMiddle', 'redMiddleChamp', 'goldredMiddle',
       'redADC', 'redADCChamp', 'goldredADC', 'redSupport', 'redSupportChamp',
       'goldredSupport', 'redBans', 'Address'],
      dtype='object')

              Year      bResult      rResult   gamelength
count  7620.000000  7620.000000  7620.000000  7620.000000
mean   2016.280971     0.544094     0.455906    37.012598
std       0.848200     0.498085     0.498085     7.983238
min    2014.000000     0.000000     0.000000    17.000000
25%    2016.000000     0.000000     0.000000    31.000000
50%    2016.000000     1.000000     0.000000    36.000000
75%    2017.000000     1.000000     1.000000    41.000000
max    2018.000000     1.000000     1.000000    95.000000

In [92]:
wins = competitive['1076/matchinfo.csv']
#dependent (winning)
wins.head()
wins.columns

Index(['League', 'Year', 'Season', 'Type', 'blueTeamTag', 'bResult', 'rResult',
       'redTeamTag', 'gamelength', 'blueTop', 'blueTopChamp', 'blueJungle',
       'blueJungleChamp', 'blueMiddle', 'blueMiddleChamp', 'blueADC',
       'blueADCChamp', 'blueSupport', 'blueSupportChamp', 'redTop',
       'redTopChamp', 'redJungle', 'redJungleChamp', 'redMiddle',
       'redMiddleChamp', 'redADC', 'redADCChamp', 'redSupport',
       'redSupportChamp', 'Address'],
      dtype='object')

In [93]:
wins = wins[['League', 'Year', 'Season', 'Type', 'blueTeamTag', 'bResult', 'rResult',
       'redTeamTag', 'gamelength']]
matchdata = matchdata[[ 'golddiff', 'goldblue', 'bKills', 'bTowers', 'bInhibs', 'bDragons',
       'bBarons', 'bHeralds', 'goldred', 'rKills', 'rTowers', 'rInhibs',
       'rDragons', 'rBarons', 'rHeralds', 'blueTop', 'blueTopChamp',
       'goldblueTop', 'blueJungle', 'blueJungleChamp', 'goldblueJungle',
       'blueMiddle', 'blueMiddleChamp', 'goldblueMiddle', 'blueADC',
       'blueADCChamp', 'goldblueADC', 'blueSupport', 'blueSupportChamp',
       'goldblueSupport', 'blueBans', 'redTop', 'redTopChamp', 'goldredTop',
       'redJungle', 'redJungleChamp', 'goldredJungle', 'redMiddle',
       'redMiddleChamp', 'goldredMiddle', 'redADC', 'redADCChamp',
       'goldredADC', 'redSupport', 'redSupportChamp', 'goldredSupport',
       'redBans']]
wins.shape[0] == matchdata.shape[0]
#wins dataset has one to one correspondence to matchdata
league = pd.concat([wins, matchdata], axis=1)
league.columns

Index(['League', 'Year', 'Season', 'Type', 'blueTeamTag', 'bResult', 'rResult',
       'redTeamTag', 'gamelength', 'golddiff', 'goldblue', 'bKills', 'bTowers',
       'bInhibs', 'bDragons', 'bBarons', 'bHeralds', 'goldred', 'rKills',
       'rTowers', 'rInhibs', 'rDragons', 'rBarons', 'rHeralds', 'blueTop',
       'blueTopChamp', 'goldblueTop', 'blueJungle', 'blueJungleChamp',
       'goldblueJungle', 'blueMiddle', 'blueMiddleChamp', 'goldblueMiddle',
       'blueADC', 'blueADCChamp', 'goldblueADC', 'blueSupport',
       'blueSupportChamp', 'goldblueSupport', 'blueBans', 'redTop',
       'redTopChamp', 'goldredTop', 'redJungle', 'redJungleChamp',
       'goldredJungle', 'redMiddle', 'redMiddleChamp', 'goldredMiddle',
       'redADC', 'redADCChamp', 'goldredADC', 'redSupport', 'redSupportChamp',
       'goldredSupport', 'redBans'],
      dtype='object')

,League,Year,Season,Type,blueTeamTag,bResult,rResult,redTeamTag,gamelength,golddiff,goldblue,bKills,bTowers,bInhibs,bDragons,bBarons,bHeralds,goldred,rKills,rTowers,rInhibs,rDragons,rBarons,rHeralds,blueTop,blueTopChamp,goldblueTop,blueJungle,blueJungleChamp,goldblueJungle,blueMiddle,blueMiddleChamp,goldblueMiddle,blueADC,blueADCChamp,goldblueADC,blueSupport,blueSupportChamp,goldblueSupport,blueBans,redTop,redTopChamp,goldredTop,redJungle,redJungleChamp,goldredJungle,redMiddle,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupport,redSupportChamp,goldredSupport,redBans
0,NALCS,2015,Spring,Season,TSM,1,0,C9,40,"[0, 0, -14, -65, -268, -431, -488, -789, -494,...","[2415, 2415, 2711, 3887, 5068, 6171, 7412, 866...","[[10.82, 'C9 Hai', 'TSM Bjergsen', [], 9229, 8...","[[27.542, 'MID_LANE', 'BASE_TURRET'], [39.269,...","[[36.686, 'MID_LANE'], [29.274, 'MID_LANE']]","[[37.267, None]]",[],[],"[2415, 2415, 2725, 3952, 5336, 6602, 7900, 945...","[[16.529, 'TSM Lustboy', 'C9 Balls', ['C9 Mete...","[[39.23, 'TOP_LANE', 'INNER_TURRET'], [20.681,...",[],"[[17.14, None], [30.934, None], [24.641, None]]",[[29.954]],[],Dyrus,Irelia,"[475, 475, 532, 687, 893, 1058, 1172, 1471, 18...",Santorin,RekSai,"[475, 475, 532, 870, 1049, 1276, 1596, 1815, 2...",Bjergsen,Ahri,"[475, 475, 532, 807, 1102, 1307, 1651, 1950, 2...",WildTurtle,Jinx,"[475, 475, 532, 797, 1127, 1453, 1766, 2044, 2...",Lustboy,Janna,"[515, 515, 583, 726, 897, 1077, 1227, 1381, 15...","['Rumble', 'Kassadin', 'Lissandra']",Balls,Gnar,"[475, 475, 532, 728, 958, 1284, 1526, 1912, 21...",Meteos,Elise,"[475, 475, 532, 898, 1192, 1429, 1819, 2107, 2...",Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",LemonNation,Thresh,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']"
1,NALCS,2015,Spring,Season,CST,0,1,DIG,38,"[0, 0, -26, -18, 147, 237, -152, 18, 88, -242,...","[2415, 2415, 2705, 4108, 5511, 6797, 7637, 895...","[[11.104, 'DIG Shiphtur', 'CST Jesiz', ['CST I...","[[23.239, 'BOT_LANE', 'OUTER_TURRET'], [33.018...",[],"[[32.545, None], [26.177, None], [19.119, None]]",[[29.255]],[],"[2415, 2415, 2731, 4126, 5364, 6560, 7789, 893...","[[12.387, 'CST Jesiz', 'DIG Gamsu', ['DIG Ship...","[[19.257, 'MID_LANE', 'OUTER_TURRET'], [15.206...","[[36.813, 'MID_LANE']]","[[12.264, None]]",[],[],Cris,Gnar,"[475, 475, 532, 791, 1127, 1509, 1674, 1875, 2...",Impaler,Rengar,"[475, 475, 532, 895, 1176, 1334, 1447, 1859, 2...",Jesiz,Ahri,"[475, 475, 532, 816, 1102, 1413, 1624, 1937, 2...",Mash,Caitlyn,"[475, 475, 532, 856, 1182, 1468, 1653, 1890, 2...",Sheep,Leona,"[515, 515, 577, 750, 924, 1073, 1239, 1392, 15...","['Kassadin', 'Sivir', 'Lissandra']",Gamsu,Irelia,"[475, 475, 532, 811, 1042, 1237, 1625, 1852, 2...",Crumbzz,JarvanIV,"[475, 475, 532, 909, 1105, 1423, 1536, 1732, 1...",Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",KiWiKiD,Annie,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']"
2,NALCS,2015,Spring,Season,WFX,1,0,GV,40,"[0, 0, 10, -60, 34, 37, 589, 1064, 1258, 913, ...","[2415, 2415, 2726, 3794, 4933, 6236, 8109, 965...","[[5.255, 'GV Keane', 'WFX Pobelter', ['WFX Sho...","[[15.045, 'BOT_LANE', 'OUTER_TURRET'], [39.566...","[[37.511, 'TOP_LANE'], [37.38, 'BOT_LANE'], [3...","[[24.577, None], [37.867, None], [30.87, None]...",[[35.144]],[],"[2415, 2415, 2716, 3854, 4899, 6199, 7520, 859...","[[8.449, 'WFX Altec', 'GV Cop', ['GV BunnyFuFu...","[[24.62, 'MID_LANE', 'OUTER_TURRET'], [30.493,...",[],[],[],[],Flaresz,Renekton,"[475, 475, 533, 673, 828, 1075, 1428, 1775, 21...",ShorterACE,Rengar,"[475, 475, 543, 836, 1041, 1261, 1568, 2002, 2...",Pobelter,Fizz,"[475, 475, 533, 756, 1065, 1368, 2056, 2237, 2...",Altec,Sivir,"[475, 475, 533, 811, 1130, 1524, 1786, 2168, 2...",Gleeb,Annie,"[515, 515, 584, 718, 869, 1008, 1271, 1474, 16...","['JarvanIV', 'Lissandra', 'Kassadin']",Hauntzer,Sion,"[475, 475, 533, 706, 861, 1123, 1491, 1698, 18...",Saintvicious,LeeSin,"[475, 475, 533, 845, 1089, 1443, 1694, 1914, 2...",Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",BunnyFuFuu,Janna,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']"
3,NALCS,2015,Spring,Season,TIP,0,1,TL,41,"[0, 0, -15, 25, 228, -6, -243, 175, -346, 16, ...","[2415, 2415, 2705, 3847, 5398, 6473, 7720, 930...","[[8.274, 'TL Quas', 'TIP Rhux', ['TIP Apollo']...","[[19.941, 'BOT_LANE', 'OUTER_TURRET'], [38.77,...",[],[],[[37.513]],[],"[2415, 2415, 2720, 3822, 5170, 6479, 7963, 913...","[[7.768, 'TIP Rush', 'TL IWDominate', ['TL Fen...","[[36.384, 'MID_LANE', 'NEXUS_TURRET'], [31.665...","[[35.867, 'MID_LANE']]","[[26.274, None], [10.153, None], [18.515, None...",[],[],Rhux,Irelia,"[475, 475, 532, 646, 992, 1253, 1408, 1752, 21...",Rush,JarvanIV,"[475, 475, 532, 909, 1272, 1387, 1705, 2009, 2...",XiaoWeiXiao,Leblanc,"[475, 475, 532, 801, 1066, 1409, 1660, 2077, 2...",Apollo,Sivir,"[475, 475, 532, 791, 1202, 1383, 1752, 2121, 2...",Adrian,Thresh,"[515, 515, 577, 700, 866, 1041, 1195, 1349, 14...","['Annie', 'Lissandra', 'Kassadin']",Quas,Gnar,"[475, 475, 532, 732, 922, 1309, 1678, 1992, 22...",IWDominate,Nunu,"[475, 475, 541, 832, 1171, 1385, 1770, 2087, 2...",Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Xpecial,Janna,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']"
4,NALCS,2015,Spring,Season,CLG,1,0,T8,35,"[40, 40, 44, -36, 113, 158, -121, -191, 23, 20...","[2415, 2415, 2710, 3950, 5404, 6666, 7887, 913...","[[11.438, 'T8 Dodo8', 'CLG Doublelift', ['CLG ...","[[22.594, 'MID_LANE', 'OUTER_TURRET'], [34.213...","[[34.069, 'BOT_LANE']]","[[14.589, None], [30.307, None]]",[[32.556]],[],"[2375, 2375, 2666, 3986, 5291, 6508, 8008, 932...","[[11.988, 'CLG Doublelift', 'T8 Porpoise8', ['...","[[11.644, 'MID_LANE', 'OUTER_TURRET'], [12.438...",[],"[[21.901, None]]",[],[],Benny,Gnar,"[475, 475, 532, 733, 1038, 1258, 1546, 1850, 2...",Xmithie,JarvanIV,"[475, 475, 532, 827, 1174, 1401, 1515, 1729, 2...",Link,Lissandra,"[475, 475, 532, 802, 1112, 1409, 1737, 1939, 2...",Doublelift,Tristana,"[475, 475, 532, 857, 1203, 1554, 1883, 2254, 2...",aphromoo,Janna,"[515, 515, 582, 731, 877, 1044, 1206, 1359, 15...","['Irelia', 'Pantheon', 'Kassadin']",CaliTrlolz8,Sion,"[475, 475, 532, 820, 1025, 1290, 1598, 1953, 2...",Porpoise8,RekSai,"[475, 475, 532, 896, 1220, 1444, 1828, 2042, 2...",Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Dodo8,Annie,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7615,TCL,2018,Spring,Season,YC,0,1,SUP,34,"[0, 0, -18, -95, 45, -87, -117, 199, 126, 92, ...","[2500, 2500, 2963, 4357, 6095, 7575, 9012, 106...","[[9.158, 'SUP SnowFlower', 'YC CoCo', ['YC Moj...","[[12.448, 'BOT_LANE', 'OUTER_TURRET'], [27.646...",[],[],[],[],"[2500, 2500, 2981, 4452, 6050, 7662, 9129, 104...","[[12.593, 'YC Mojito', 'SUP GBM', ['SUP Stomag...","[[25.005, 'TOP_LANE', 'OUTER_TURRET'], [18.149...","[[30.225, 'MID_LANE']]","[[10.135, 'FIRE_DRAGON'], [26.468, 'AIR_DRAGON...","[[24.571], [32.829]]",[],Elwind,Camille,"[500, 500, 581, 815, 1172, 1489, 1721, 2151, 2...",Mojito,JarvanIV,"[500, 500, 621, 930, 1223, 1457, 1740, 1991, 2...",CoCo,Galio,"[500, 500, 612, 1042, 1414, 1724, 2097, 2410, ...",Madness,Tristana,"[500, 500, 583, 821, 1297, 1675, 2012, 2405, 2...",Zzus,Braum,"[500, 500, 566, 749, 989, 1230, 1442, 1661, 19...","['Ezreal', 'Sejuani', 'Azir', 'Cassiopeia', 'C...",fabFabulous,Chogath,"[500, 500, 598, 798, 1229, 1586, 1902, 2104, 2...",Stomaged,XinZhao,"[500, 500, 621, 844, 1239, 1448, 1741, 1975, 2...",GBM,Veigar,"[500, 500, 632, 982, 1258, 1667, 2060, 2390, 2...",Zeitnot,Xayah,"[500, 500, 564, 1027, 1320, 1727, 1963, 2276, ...",SnowFlower,Rakan,"[500, 500, 566, 801, 1004, 1234, 1463, 1674, 1...","['Ornn', 'Kalista', 'Ryze', 'Alistar', 'Shen']"
7616,TCL,2018,Spring,Season,GAL,0,1,DP,39,"[0, 0, -86, -39, -207, -349, -60, -140, 187, -...","[2500, 2500, 2936, 4752, 6438, 7974, 9464, 109...","[[17.174, 'DP Marshall', 'GAL Rare', ['GAL Vik...","[[23.085, 'BOT_LANE', 'INNER_TURRET'], [17.368...",[],"[[18.322, 'WATER_DRAGON'], [25.473, 'AIR_DRAGO...","[[29.193], [21.621]]",[],"[2500, 2500, 3022, 4791, 6645, 8323, 9524, 110...","[[3.361, 'GAL Veux', 'DP KaKAO', ['DP Ruvelius...","[[38.311, 'MID_LANE', 'NEXUS_TURRET'], [10.572...","[[30.085, 'TOP_LANE'], [37.98, 'MID_LANE']]","[[32.015, 'FIRE_DRAGON'], [11.743, 'FIRE_DRAGO...",[],[[17.243]],Rare,Nasus,"[500, 500, 598, 1056, 1440, 1662, 2092, 2467, ...",Viking,Khazix,"[500, 500, 653, 1028, 1383, 1687, 1996, 2147, ...",Backlund,Malzahar,"[500, 500, 598, 929, 1277, 1629, 1947, 2274, 2...",j1mmy,Kalista,"[500, 500, 543, 972, 1369, 1798, 2046, 2434, 2...",Veux,TahmKench,"[500, 500, 544, 767, 969, 1198, 1383, 1613, 18...","['Gangplank', 'Sejuani', 'Azir', 'Gnar', 'Zac']",Marshall,Chogath,"[500, 500, 581, 884, 1240, 1666, 1904, 2259, 2...",KaKAO,Ivern,"[500, 500, 621, 1140, 1685, 1887, 2122, 2469, ...",Lucete,Ryze,"[500, 500, 612, 1000, 1193, 1626, 1979, 2318, ...",Ruvelius,Caitlyn,"[500, 500, 621, 977, 1420, 1809, 2047, 2413, 2...",Japone,Braum,"[500, 500, 587, 790, 1107, 1335, 1472, 1616, 1...","['Zoe', 'KogMaw', 'JarvanIV', 'Ornn', 'Rengar']"
7617,OPL,2018,Spring,Season,SIN,0,1,DW,24,"[0, -8, -6, 116, 103, -92, -470, -958, -1998, ...","[2500, 2500, 2991, 4529, 6004, 7573, 8747, 103...","[[13.534, 'DW Cupcake', 'SIN Bdoink', ['SIN Ju...",[],[],[],[],[],"[2500, 2508, 2997, 4413, 5901, 7665, 9217, 112...","[[6.996, 'SIN Juves', 'DW Chippys', ['DW Prael...","[[22.854, 'TOP_LANE', 'BASE_TURRET'], [23.285,...","[[23.575, 'MID_LANE'], [18.959, 'BOT_LANE'], [...","[[8.858, 'WATER_DRAGON'], [15.513, 'EARTH_DRAG...",[[21.6]],[[16.912]],Praedyth,Camille,"[500, 500, 581, 909, 1242, 1599, 1830, 2176, 2...",Juves,JarvanIV,"[500, 500, 621, 844, 1147, 1467, 1646, 1903, 2...",Bdoink,Cassiopeia,"[500, 500, 612, 985, 1305, 1667, 1983, 2313, 2...",Dream,Varus,"[500, 500, 600, 1015, 1339, 1704, 1990, 2419, ...",Kpop,Janna,"[500, 500, 577, 776, 971, 1136, 1298, 1496, 17...","['TahmKench', 'KogMaw', 'Shen', 'Sejuani', 'Sh...",Chippys,Gangplank,"[500, 500, 584, 798, 1119, 1501, 1780, 2451, 3...",Praelus,Evelynn,"[500, 500, 621, 956, 1181, 1572, 1819, 2345, 3...",Triple,Malzahar,"[500, 500, 615, 903, 1225, 1617, 1976, 2304, 2...",k1ng,Ezreal,"[500, 508, 592, 986, 1400, 1753, 2196, 2538, 3...",Cupcake,Taric,"[500, 500, 585, 770, 976, 1222, 1446, 1627, 19...","['Azir', 'Kalista', 'Braum', 'Maokai', 'Alistar']"
7618,OPL,2018,Spring,Season,LGC,1,0,TTC,35,"[0, 0, -97, 33, 351, 284, 299, 263, 403, 623, ...","[2500, 2500, 2974, 4629, 6405, 8090, 9580, 111...","[[3.055, 'TTC Swathe', 'LGC Sybol', [], 9751, ...","[[22.043, 'TOP_LANE', 'OUTER_TURRET'], [24.727...","[[33.943, 'MID_LANE']]","[[12.083, 'AIR_DRAGON'], [18.238, 'FIRE_DRAGON...","[[25.777], [32.977]]",[],"[2500, 2500, 3071, 4596, 6054, 7806, 9281, 109...","[[13.399, 'LGC Sybol', 'TTC Shok', ['TTC Swath...","[[32.793, 'BOT_LANE', 'INNER_TURRET'], [22.866...",[],[],[],[],Ceres,Ornn,"[500, 500, 561, 951, 1188, 1616, 1842, 2277, 2...",Sybol,Khazix,"[500, 500, 653, 944, 1579, 1880, 2209, 2533, 2...",Claire,Azir,"[500, 500, 632, 940, 1304, 1695, 2034, 2290, 2...",Raid,Ezreal,"[500, 500, 563, 1009, 1351, 1690, 2080, 2451, ...",Decoy,Braum,"[500, 500, 565, 785, 983, 1209, 1415, 1648, 18...","['KogMaw', 'Illaoi', 'Urgot', 'Xerath', 'Karma']",Papryze,Gangplank,"[500, 500, 561, 921, 1272, 1635, 2011, 2493, 2...",Swathe,JarvanIV,"[500, 500, 723, 1026, 1249, 1598, 1751, 2040, ...",Shok,Veigar,"[500, 500, 561, 931, 1223, 1631, 1987, 2315, 2...",Low,Sivir,"[500, 500, 634, 930, 1304, 1691, 2042, 2384, 2...",Tilting,Janna,"[500, 500, 592, 788, 1006, 1251, 1490, 1704, 1...","['Kalista', 'Galio', 'Gnar', 'Jayce', 'Sejuani']"
7619,OPL,2018,Spring,Season,TTC,0,1,LGC,42,"[0, 0, -8, -225, -36, 73, 464, 184, 1171, 1409...","[2500, 2500, 3064, 4510, 6015, 7714, 9357, 107...","[[7.68, 'LGC Sybol', 'TTC Swathe', ['TTC Papry...","[[18.042, 'BOT_LANE', 'OUTER_TURRET'], [13.644...",[],"[[22.787, 'FIRE_DRAGON']]",[],[[16.195]],"[2500, 2500, 3072, 4735, 6051, 7641, 8893, 105...","[[10.327, 'TTC Papryze', 'LGC Ceres', ['LGC Sy...","[[32.298, 'MID_LANE', 'INNER_TURRET'], [40.779...","[[37.152, 'BOT_LANE'], [41.194, 'TOP_LANE'], [...","[[35.963, 'ELDER_DRAGON'], [29.624, 'AIR_DRAGO...","[[26.427], [35.277]]",[],Papryze,Gangplank,"[500, 500, 566, 854, 1342, 1646, 1909, 2157, 2...",Swathe,Zac,"[500, 500, 703, 956, 1079, 1473, 1696, 2006, 2...",Shok,Cassiopeia,"[500, 500, 615, 953, 1224, 1538, 1866, 2174, 2...",Low,Ezreal,"[500, 500, 595, 947, 1366, 1829, 2387, 2696, 3...",Tilting,Shen,"[500, 500, 585, 800, 1004, 1228, 1499, 1683, 1...","['Kalista', 'Gnar', 'Ryze', 'Orianna', 'Sivir']",Ceres,Ornn,"[500, 500, 581, 1005, 1225, 1600, 1774, 2196, ...",Sybol,JarvanIV,"[500, 500, 721, 1015, 1336, 1614, 1938, 2230, ...",Claire,Malzahar,"[500, 500, 598, 968, 1165, 1477, 1801, 2016, 2...",Raid,Vayne,"[500, 500, 587, 954, 1327, 1749, 2007, 2471, 2...",Decoy,Braum,"[500, 500, 585, 793, 998, 1201, 1373, 1619, 18...","['KogMaw', 'Illaoi', 'Azir', 'Karma', 'Sejuani']"

In [94]:
groupedLeague = {}
def groupby(column):
    res = quantleague.groupby(column).agg(np.mean)    
    res.reset_index()
    return res

for col in ['League', 'Year', 'Season', 'Type']:
    groupedLeague[col] = groupby(col)
groupedLeague['League']
# which teams were the best
# gold difference vs winning probability
# gamelength and winning
# kils and winning
# how different seasons affected monsters killed, gamelength
# neutral objectives and winning
# groupby league and year
#grouby teams (find playstyles)
#season vs playoff

               Year   bResult   rResult  gamelength
League
CBLoL   2016.578073  0.544850  0.455150   39.777409
CLS     2017.045714  0.525714  0.474286   35.480000
EULCS   2016.166515  0.535942  0.464058   36.941765
IEM     2015.847826  0.550725  0.449275   35.702899
LCK     2016.167474  0.550865  0.449135   38.811765
LCL     2016.501779  0.544484  0.455516   36.491103
LJL     2016.577519  0.523256  0.476744   36.670543
LLN     2017.000000  0.541322  0.458678   35.462810
LMS     2016.203085  0.537275  0.462725   36.696658
MSI     2016.126126  0.585586  0.414414   35.720721
NALCS   2016.245283  0.547170  0.452830   36.956761
OPL     2016.561135  0.515284  0.484716   34.375546
RR      2017.000000  0.475248  0.524752   36.801980
TCL     2016.237366  0.566616  0.433384   36.026034
WC      2015.516234  0.574675  0.425325   37.136364

In [166]:
import json
import math


'max(goldblue)'
'max(goldred)'
'len(bKills)'
'len(bDragons)'
'len(bBarons)'
'len(rDragons)'
'get last of all columns starting with gold'
'get gold amt at early, mid, and late game for each role'
'if game was comeback, even, or one sided (looking at shifts in gold diff)'
TIMES = [(0, 'early'), (1, 'mid'), (2, 'late')]
OBJECTIVES = ['Kills', 'Towers', 'Inhibs', 'Dragons', 'Barons', 'Heralds']
def getGold(name):
    totalgoldblue = []
    for x in league['gold'+name]:
        x = json.loads(x)
        totalgoldblue.append(int(x[-1]))
    return totalgoldblue

def getTimedGold(name, t):
    totalgoldblue = []
    for x in league['gold'+name]:
        x = json.loads(x)
        total = len(x) // 3        
        step = total // 2 + t * total #break at 16%, 49%, 83%
        avg = round((int(x[step-1]) + int(x[step]) + int(x[step+1])) / 3)
        totalgoldblue.append(avg)
    return totalgoldblue

def getNum(name):
    totalgoldblue = []
    for x in league[name]:        
        numOccurences = list(x).count('[') -1
        totalgoldblue.append(numOccurences)
    return totalgoldblue


def buildQuantative():
    win = wins.copy(deep=True)
    categorical = win[['League', 'Year', 'Season', 'Type']]    
    quantleague = win[['gamelength']]    
    #independent
    for c in ['blue', 'red']:
        quantleague['totalgold'+c] = getGold(c)
        for t in TIMES:        
            quantleague[t[1]+'gold'+c] = getTimedGold(c, t[0])
    for c in ['b', 'r']:
        for o in OBJECTIVES:
            quantleague[c+o] = getNum(c+o)
    quantleague['bluewin'] = win[['bResult']] 

    #dependent variables
    quantleague = pd.concat([quantleague, pd.get_dummies(categorical)], axis=1)
    return quantleague


quantleague = buildQuantative()



# quantleague = pd.DataFrame()
# league

,gamelength,totalgoldblue,earlygoldblue,midgoldblue,lategoldblue,totalgoldred,earlygoldred,midgoldred,lategoldred,bKills,bTowers,bInhibs,bDragons,bBarons,bHeralds,rKills,rTowers,rInhibs,rDragons,rBarons,rHeralds,bluewin,Year,League_CBLoL,League_CLS,League_EULCS,League_IEM,League_LCK,League_LCL,League_LJL,League_LLN,League_LMS,League_MSI,League_NALCS,League_OPL,League_RR,League_TCL,League_WC,Season_Spring,Season_Summer,Type_International,Type_Playoffs,Type_Promotion,Type_Regional,Type_Season
0,40,62729,7415,29141,50672,56672,7984,28073,47619,32,9,2,1,0,0,18,4,0,3,1,0,1,2015,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1
1,38,57702,7796,26277,45917,56537,7761,24931,44373,20,7,0,3,1,0,18,7,1,1,0,0,0,2015,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1
2,40,70270,8000,31424,55072,56355,7437,26249,46878,44,15,4,4,1,0,16,2,0,0,0,0,1,2015,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1
3,41,58612,7834,26344,45168,63119,7858,25226,48523,20,4,0,0,1,0,42,7,1,4,0,0,0,2015,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1
4,35,60269,6652,22728,42269,48947,6602,23054,38690,44,8,1,2,1,0,20,4,0,1,0,0,1,2015,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7615,34,57580,7561,26742,47053,65618,7614,26697,50449,14,4,0,0,0,0,32,9,1,3,2,0,0,2018,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1
7616,39,69781,9458,30928,59687,70498,9641,34628,58449,16,5,0,2,2,0,36,10,2,2,0,1,0,2018,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1
7617,24,34602,6035,17672,30159,52338,5993,22565,42568,10,0,0,0,0,0,26,11,3,2,1,1,0,2018,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1
7618,35,68729,8025,26611,52283,57221,7714,25648,45602,32,9,1,4,2,0,4,3,0,0,0,0,1,2018,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1
7619,42,77275,11045,40072,64942,82598,10439,37617,67222,24,4,0,1,0,1,46,11,3,3,2,0,0,2018,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1

''

In [160]:
'[[a]]'.split('')

ValueError: empty separator